# Reusable workflow to handle the release, to eject you can replace this file with
# https://github.com/ryansonshine/ryansonshine/blob/main/.github/workflows/release.yml
name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    uses: ryansonshine/ryansonshine/.github/workflows/release.yml@main
